version: '3.8'

services:
  server:
    build: ./server
    ports:
    - "5000:5000"
    environment:
    - PORT=5000
    - NODE_ENV=development
    volumes:
    - ./server:/app
    - /app/node_modules

  client:
    build: ./client
    ports:
    - "5173:5173"
    environment:
    - VITE_API_URL=http://server:5000
    volumes:
    - ./client:/app
    - /app/node_modules
    depends_on:
    - server

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
    - "27017:27017"
    volumes:
    - ./data:/data/db
    environment:
    - MONGO_INITDB_ROOT_USERNAME=root
    - MONGO_INITDB_ROOT_PASSWORD=password
    - MONGO_INITDB_DATABASE=ecom-autoparts